<li class="image_field">
    <div class="image_field__wrap">
        <div class="image_field__preview_container">
            <img src="/images/tran.png"
                 class="image_field__preview"
                 style="background-image: url({{code}});">
            <div class="image_field__remove_preview js-remove-preview">
                <div class="image_field__remove_preview_text remove">删除</div>
            </div>
        </div>
    </div>
</li>