<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta http_equiv="X_UA_Compatible" content="IE=edge">
    <title>index</title>
    <link rel="stylesheet" href="/css/application.css[___VERSION___]">
</head>
<body class="reviews reviews_gallery">
<div id="content">
    <div class="reviews_index reviews_index_gallery">
        <div class="contentset center"> <h4 class="inner"><span>購物心得</span></h4> </div>
        <div class="reviews_index_body">
            <div class="page">
                <div class="reviews_index_no_data_message">還沒有評論。</div>
                <ul class="reviews_index_reviews reviews">
                </ul>
            </div>

        </div>
        <div class="reviews_index_foot">
            <div class="pagination">
            </div>
        </div>
    </div>
</div>
<script>[___DOMAIN___]</script>
<script src="[___APP___]"></script>
</body>
</html>