<li class="comment" id="{{postId}}">
    <div class="comment__inner">
        <div class="comment__lpane">{{userName}}</div>
        <div class="comment__rpane">
            <div class="comment__message">
                <span class="comment__message_text">{{{text}}}</span>

            </div>
        </div>

    </div>
</li>