<div data-width="1024" data-height="1024" data-index="1" data-count="4" id="photo-container-1"
     class="show_photo_review__photo_container selected">
    <img src="{{imageUrl}}"
         class='js-photo-container-review-image-zoom show_photo_review__photo_container_image'
         data-width="1024" data-height="1024" alt="">
</div>